.classsquare {
    width: 10%;
    height: 0;
    padding: 5%;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    cursor: pointer;
}

.nomClasse {

}